.profileMain {
    width: 100%;
}

input[type='text'], input[type='number'] {
    font-size: 14px;
}

.profileFormContainer {
    min-height: 450px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.profileFormItems, .selectItems {
    position: relative;
    width: 100%;
    margin: 10px 0;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profileLabel, .selectLabel {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, -35%);
    visibility: hidden;
    font-size: 12px;
    color: #b66a47;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    transition: all 0.3s ease-out;
}

.profileLabel.inActiveLabel, .selectLabel.inActiveLabel {
    transform: translate(15%, -35%);
    visibility: hidden;
}

.profileLabel.activeLabel, .selectLabel.activeLabel {
    visibility: visible;
    transform: translate(15%, -55%);
}

.profileFormInput {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(70, 70, 70);
}

/* .profileFormInput:focus + .profileLabel{
    visibility: visible;
    transform: translate(15%, -55%);
} */

.profileFormFileInput{
    position: relative;
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileFormFileInput.wrongFileInput {
    border: 1px solid darkred;
}

.fileInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

input::file-selector-button {
    height: 30px;
    width: 100px;
    border: 1px solid #b66a47;
    border-radius: 3px;
    background-color: #b66a47;
    color: rgb(245, 245, 245);
    cursor: pointer;
}

input::file-selector-button:hover {
    background-color: #a0481f;
    color: white;
}

.imgError {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50px);
    color: darkred;
}

.profileFormIcon {
    font-size: 20px;
    padding: 0 5px;
    color: #c79471;
}

.updateBtn {
    height: 40px;
    width: 250px;
    margin: 30px auto;
    border: 1px solid #d5b199;
    outline: none;
    border-radius: 5px;
    background-color: #d5b199;
    color: rgb(245, 245, 245);
    cursor: pointer;
}

.updateBtn:hover {
    background-color: rgb(212, 166, 135);
    color: white;
}

.updateBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.updateBtn:disabled:hover {
    background-color: #d5b199;
}

.selectInput {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    padding-left: 10px;
    appearance: none;
    background-image: url('../../../Assets/dropdown.png');
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 10px;
    color: rgb(70, 70, 70);
}

.passwordMatch {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50px);
    color: darkred;
}

.statusDisplayMain {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: "lato", sans-serif;
}

.statusDisplayBtn {
    height: 40px;
    width: 120px;
    margin-top: 20px;
    border: 1px solid #d5b199;
    border-radius: 5px;
    background-color: #d5b199;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.statusDisplayBtn:hover {
    background-color: #c79471;
}

.header3 {
    font-size: 15px;
}

@media (max-width: 850px) {
    .profileSettings {
        width: 100%;
    }
    .profileFormItems, .profileFormFileInput, .selectInput {
        width: 95%;
    }
    .profileFormInput {
        width: 90%;
    }
    .profileFormContainer {
        padding: 0;
    }

    .selectItems {
        width: 95%;
    }
}

@media (max-width: 650px) {
    .profileFormContainer {
        align-items: center;
    }
}

@media (max-width: 432px) {
    .updateBtn {
        width: 95%;
    }
}