.drawToggleMain {
    width: 30px;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.drawToggleBar {
    width: 22px;
    height: 1px;
    margin: 2px 0;
    border: 1px solid #ca9876;
    border-radius: 10px;
    background-color: #ca9876;
}

@media (max-width: 1045px) {
    .drawToggleMain {
        display: flex;
    }
}