.defaultProductContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.defaultProductsItem {
    width: 265px;
    margin: 5px;
    padding: 5px;
    height: 265px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.spinnerPulse {
    font-size: 30px;
    color: #b95b1d;
    margin-bottom: 20px;
}

.loadingName, .loadingLink {
    width: 150px;
    height: 25px;
    background-color: lightgray;
    margin: 5px auto;
}

@media (max-width: 569px) {
    .loadingName, .loadingLink {
        width: 90%;
    }
}