.displayCartContainer {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.displayCartMain {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.displayItems{
    width: 60%;
    min-height: 425px;
    padding-bottom: 15px;
    /* margin: 0 10px; */
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.labelContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    width: 180px;
    height: 30px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.displayCartItem {
    width: 100%;
    padding: 10px 0;
    margin: 5px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center
}

.labelContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background-color: #ad6c4d;
}

.displayCartImgContainer {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelGroups {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#label1 {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad6c4d;
    border: 1px solid #ad6c4d;
    color: white;
    font-size: 13px;
}

.displayCartImgDetails {
    width: 110px;
    margin-left: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.panelContainer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addItemBtns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addItemBtn {
    height: 30px;
    width: 30px;
    padding: 0px;
    background-color: white;
    color: black;
    font-size: 13px;
    cursor: pointer;
}

.addItemBtn:nth-child(1){
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 0 1px 1px;
}

.addItemBtn:nth-child(3){
    border-color: lightgray;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}

.addItemValue {
    height: 28.5px;
    width: 29px;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.displayCartImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.displayCartP, .priceP {
    margin: 5px;
    font-size: 13px;
}

.removeContainer, .priceContainer, .addItemContainer {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#label2, #label3, #label4 {
    width: 150px;
    display: flex;
    border: 1px solid #ad6c4d;
    justify-content: center;
    align-items: center;
    background-color: #ad6c4d;
    color: white;
    font-size: 13px;
}

.removeBtn {
    height: 30px;
    width: 80px;
    border: 1px solid #d11a2a;
    background-color: #d11a2a;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.summaryContainer {
    width: 35%;
    margin: 0 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.discountContainer {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.couponInputContainer {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.couponInput {
    width: 70%;
    height: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.couponBtn {
    width: 30%;
    height: 37px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #3167eb;
    background-color: #3167eb;
    color: white;
    cursor: pointer;
}

.couponBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.couponP {
    margin: 5px 0;
    font-size: 13px;
}

.totalAmountItemContainer {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;

}

.paymentMethodContainer {
    width: 90%;
    margin-top: 20px;
    padding: 20px 10px 10px 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentMethod {
    width: 60px;
    margin: 0 2px;
}

.totalAmountItems {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.totalAmountItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalAmountPrice {
    margin-left: 5px;
    width: 80px;
    text-align: left;
    font-size: 13px;
}

.totalAmountPrice:nth-child(even){
    width: 60px;
    max-width: 80px;
}

.purchaseBtnContainer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.purchaseBtn {
    height: 40px;
    width: 90%;
    max-width: 350px;
    margin: 5px auto;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purchaseBtn:nth-child(1){
    border: 1px solid #ad6c4d;
    background-color: #ad6c4d;
    opacity: 0.8;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.purchaseBtn:nth-child(1):hover {
    opacity: 1;
}

.purchaseBtn:nth-child(2){
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(53, 52, 52);
    cursor: pointer;
}

.purchaseBtn:nth-child(2):hover {
    border: 1px solid white;
    background-color: rgb(53, 52, 52);
    color: white;
}

.purchaseBtn.purchaseBtnDisabled {
    opacity: 0.5;
    cursor: default;
    border: none;
}

.purchaseBtn.purchaseBtnDisabled:hover {
    background-color: #d6b5a6;
}

.purchaseBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.purchaseBtn:disabled:hover {
    background-color: white;
    color: rgb(53, 52, 52);
    border: 1px solid lightgray;
}

.defultDisplay {
    width: 100%;
}

@media (max-width: 992px) {
    .displayCartMain {
        flex-flow: column;
    }

    .displayItems {
        width: 100%;
    }

    .summaryContainer {
        width: 100%;
    }
    .displayCartImgContainer, #label1 {
        width: 40%;
    }

    .addItemContainer, .priceContainer, .removeContainer {
        width: 35%;
    }

    #label2, #label3, #label4 {
        width: 35%;
    }

    .summaryContainer {
        margin: 20px auto;
    }

    .discountContainer, .totalAmountItemContainer {
        width: 100%;
        padding: 50px;
    }

    .paymentMethodContainer {
        margin-top: 50px;
    }
}

@media (max-width: 550px) {
    .displayCartContainer {
        margin: 50px auto;
    }
    .displayCartMain {
        width: 95%;
    }

    .displayItems {
        flex-flow: wrap;
    }

    .labelContainer {
        display: none;
    }

    .displayCartItem {
        width: 45%;
        flex-flow: column;
        margin: 10px;
    }

    .displayCartImgContainer {
        width: 100%;
        flex-flow: column;
    }

    .panelContainer {
        width: 100%;
        flex-flow: column;
    }

    .displayCartImg {
        width: 95%;
        height: 180px;
    }

    .displayCartImgDetails {
        width: 100%;
        margin-left: unset;
        align-items: center;
    }

    .removeBtn {
        margin-left: unset;
    }

    .addItemContainer, .priceContainer, .removeContainer {
        width: 90%;
    }

    .addItemBtn {
        height: 35px;
        width: 35px;
    }

    .addItemValue {
        height: 33px;
        width: 34px;
    }

    .removeBtn {
        width: 200px;
    }

    .discountContainer, .totalAmountItemContainer {
        padding: 30px 15px;
    }

    .purchaseBtn {
        width: 100%;
    }
}

@media (max-width: 422px) {
    .displayItems {
        flex-flow: column;
    }

    .displayCartItem {
        width: 90%;
    }

    .displayCartImg {
        width: 90%;
        height: 300px;
    }
}