@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500&display=swap');


.aboutUsMain {
    width: 100%;
}

.aboutUsHeaderContainer {
    position: relative;
    width: 100%;
    margin: 20px auto;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
}

.aboutUsHeaderBg {
    width: 100%;
    height: 100%;
}

.aboutUsHeaderBgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUsHeaderTitleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Proza Libre', sans-serif;
}

.aboutUsHeaderTitleHeader {
    font-size: 30px;
    letter-spacing: 1px;
}

.aboutUsLink {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    margin: 20px;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.aboutUsLink::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 15%);
    height: 3px;
    width: 0%;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

.aboutUsLink:hover::before {
    width: 100%;
}

.middlePartContainer {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middlePartHeader {
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.middlePartH2 {
    font-size: 22px;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.middlePartH4 {
    margin: 2px;
}

.middlePartP {
    font-size: 14px;
    line-height: 22px;
    margin: 5px;
    text-align: left;
}

.middlePartDetails {
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.signatureContainer {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signatureItem {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.signature {
    width: 150px;
    height: 80px;
}

.middlePartImgContainer {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middlePartImg {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.bottomPartContainer {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bottomPartHeader {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bottomPartHeading {
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Proza Libre', sans-serif;
}

.bottomPartP {
    font-size: 14px;
    line-height: 22px;
}

.teamMemberContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.teamMember {
    width: 90%;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamMember:nth-of-type(2) {
    flex-flow: row-reverse;
}

.teamMemberImgContainer {
    width: 40%;
    min-width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerDiv {
    position: relative;
    /* background-color: #79cf99d1; */
    background-color: #A2C579;
    width: 250px;
    height: 300px;
}

.imgContainer {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    height: 300px;
}

.imgContainer.item2 {
    top: 20px;
    right: 20px;
    left: unset;
}

.teamImg {
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.teamBanner {
    position: absolute;
    bottom: 100px;
    right: -20px;
    width: 120px;
    height: 25px;
    /* background-color: #79cf99d1; */
    /* background-color: #e48353; */
    background-color: #A2C579;
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.teamBanner.banner2 {
    right: unset;
    left: -20px;
}

.teamMemberDetails {
    width: 50%;
    margin-left: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.teamMemberDetails.details2 {
    margin-left: unset;
    margin-right: 30px;
}

.teamMemberDetailsH3 {
    position: relative;
    font-size: 22px;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.teamMemberDetailsH3::before {
    position: absolute;
    top: -30px;
    left: -30px;
    content: '“';
    height: 30px;
    width: 30px;
    /* color: #e48353; */
    color: #A2C579;
    font-size: 50px;
}

.teamMemberDetailsP {
    font-size: 13px;
}

@media (max-width: 992px) {
    .middlePartContainer {
        flex-flow: column-reverse;
        margin: 20px auto;
    }

    .middlePartImgContainer, .middlePartHeader {
        width: 95%;
        margin: 20px auto;
    }
}

@media (max-width: 767px) {
    .teamMember, .teamMember:nth-of-type(2) {
        flex-flow: column;
    }

    .teamMemberDetails {
        width: 100%;
        margin-top: 50px;
        margin-left: unset;
    }

    .teamMemberDetails.details2 {
        margin-right: unset;
    }
}

@media (max-width: 550px) {
    .middlePartDetails {
        width: 100%;
    }

    .bottomPartHeader {
        padding: 10px;
    }
}