@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@800&display=swap');


.profileMain {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.profileHeader {
    font-family: 'Proza Libre', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #d5b199;
}

.profileSection {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.profileAvatarContainer {
    width: 300px;
    min-width: 220px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.avatarContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.profileInfoH3 {
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.categoryContainer {
    width: 100%;
    background-color: #d5b199;
    border-radius: 8px;
}

.profileInfoP {
    margin: 15px;
    font-weight: 600;
    color: white
}

.profileInfoContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.profileSettings {
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profileSettingsNavContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileSettingsBtn {
    position: relative;
    width: 22%;
    min-width: 125px;
    height: 30px;
    border: 1px solid #ad6c4d;
    outline: none;
    background-color: #ad6c4d;
    color: white;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-out;
}

.profileSettingsBtn:hover {
    background-color: #ad6c4d;
    color: white;
}

.profileSettingsBtnInactive {
    border: 1px solid #ad6c4d;
    background-color: white;
    color: #ad6c4d;
}

.profileSettingsBtnIcon {
    display: none;
}

@media (max-width: 992px) {

    .profileMain {
        padding-top: 0;
        margin: 10px auto;
    }
    .profileContainer {
        align-items: center;
    }
    .profileSection {
        flex-flow: column;
        align-items: center;
    }

    .profileAvatarContainer {
        width: 90%;
        min-width: unset;
        margin: 20px auto;
    }

    .avatarContainer {
        width: 60%;
        min-width: 480px;
        height: 350px;
    }

    .categoryContainer {
        width: 60%;
        min-width: 480px;
    }

    .profileSettings {
        width: 90%;
        min-width: 480px;
        margin: 20px auto;
    }

    .profileSettingsBtn {
        width: 20%;
        height: 50px;
        border-radius: 5px;
        min-width: unset;
        margin: 10px auto;
    }

    .btn {
        display: none;
    }

    .profileSettingsBtnIcon {
        display: block;
        font-size: 22px;
    }
}

@media (max-width: 650px) {
    .profileSection {
        margin-top: unset;
    }

    .profileAvatarContainer {
        width: 100%;
    }
    .avatarContainer {
        width: 90%;
        min-width: unset;
    }

    .categoryContainer {
        width: 90%;
        min-width: unset;
    }

    .profileSettings {
        width: 100%;
        min-width: unset;
    }
}

@media (max-width: 550px) {
    .avatarContainer {
        width: 100%;
    }
}