@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.shoppingCartMain {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.defaultCartContainer {
    position: absolute;
    top: 22px;
    right: -15px;
    width: 300px;
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    z-index: 500;
}
