.modalMain {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: 1px solid #ad6c4d4f;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 1px #ad6c4d;
}

@media (max-width: 550px) {
    .modalMain {
        width: 95%;
    }
}