.slider {
    width: 100%;
    margin: 10px;
}

.rangeLabel {
    margin: 10px;
}

.slider .rangeslider__handle {
    width: 18px;
    height: 18px;
}

.rangeslider__handle::after {
    /* content: unset; */
    display: none;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: #d37831;
}

.rangeslider-horizontal {
    height: 8px;
}