.forgotPasswordMain {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    margin: 30px auto;
    background-image: url('../../../Assets/passwordReset.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.forgotPasswordContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 35px 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.918);
    border: 1px solid lightgray;
    border-radius: 5px;
}

.logoContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d0b09b;
}

.logo {
    width: 90%;
    object-fit: cover;
}

.logoHeading {
    font-size: 15px;
    font-weight: 500;
    margin: 20px auto;
}

.inputContainer {
    position: relative;
    width: 90%;
    height: 45px;
    margin: 20px auto;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 90%;
    height: 35px;
    padding-left: 10px;
    background-color: transparent;
}

.inputIcon {
    font-size: 22px;
    color: #d0b09b;
    margin: 0 10px;
}

.label {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 12px;
    padding: 0 5px;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.label.activeLabel {
    top: -10px;
    opacity: 1;
}

.passwordResetBtn {
    width: 300px;
    height: 40px;
    margin: 30px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #d0b09b;
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

.passwordResetBtn:hover {
    opacity: 1;
}

.passwordResetBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

.displayStatusContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

.displayStatusHeading {
    font-size: 22px;
    text-align: center;
}

.displayStatusP {
    font-size: 15px;
    text-align: center;
}

.displayStatusBtn {
    height: 40px;
    width: 200px;
    margin: 25px auto;
    border: 1px solid #ad6c4d;
    border-radius: 5px;
    background-color: #ad6c4d;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

.displayStatusBtn:hover {
    opacity: 1;
}


@media (max-width: 550px) {
    .forgotPasswordContainer {
        width: 90%;
    }

    .passwordResetBtn {
        width: 90%;
    }
}