.topbarMain {
    height: 115px;
    width: 100%;
    margin: 20px auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbarItems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    font-size: 20px;
    color: #ca9876;
    cursor: pointer;
}

.searchIcon:hover {
    animation: search 0.2s ease-out forwards;
}

@keyframes search {
    100% {
        color: #cb8161;
        transform: scale(1.1);
    }
}

@media (max-width: 1045px) {
    .topbarMain {
        height: unset;
        padding: 20px 10px;
    }

    .topbarItems {
        justify-content: flex-start;
    }

    #navbar {
        display: none;
    }
}