@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.homepageMain {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bannerContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bannerMain {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.bannerBg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bannerBgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    z-index: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bannerH2 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 5px;
}

.bannerP {
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 20px;
    margin: 5px;
}

.shoppingLink {
    width: 250px;
    height: 40px;
    margin: 30px auto;
    border: 2px solid white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Proza Libre', sans-serif;
}

.shoppingLink:hover {
    background-color: white;
    color: black;
}

.bannerBtn {
    border: none;
    outline: none;
    background-color: transparent;
}

.arrowContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 40px;
    color: rgb(255, 255, 255);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
}

.bannerContainer:hover .arrow {
    opacity: 1;
}

.productDisplayContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.featuredProducts {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.featuredProductsH2 {
    font-size: 30px;
    margin: 10px;
    letter-spacing: 1px;
    color: #ad6c4d;
    font-family: 'Proza Libre', sans-serif;
}

.featuredProductsContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.exclusiveItemContainer {
    position: relative;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.exclusiveItems {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes productsLink {
    100% {
        color: #7E370C;
        /* transform: scale(1.1); */
    }
}

.defaultExclusiveLink {
    width: 80%;
    height: 40px;
    background-color: lightgray;
    margin: 10px;
}

.itemCategoryContainer {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.itemCategories {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCategories::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1045px) {
    .homepageMain {
        margin: 0;
    }
}

@media (max-width: 980px) {
    .productDisplayContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px) {
    .itemCategories {
        overflow: scroll;
        scrollbar-width: none;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) {
    .arrowContainer {
        transform: translate(-50%, 0%);
    }

    .exclusiveItems {
        flex-flow: column;
    }
}

@media (max-width: 650px) {
    .productDisplayContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .bannerH2 {
        font-size: 20px;
    }

    .bannerP {
        font-size: 15px;
        font-weight: 600;
    }

    .arrow {
        font-size: 30px;
        opacity: 1;
    }
}
