@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500&display=swap');

.productsDetailsMain {
    width: 100%;
}

.productsDetailsContainer {
    width: 100%;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultProductContainer {
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultImgContainer {
    width: 60%;
    height: 500px;
    background-color: rgb(238, 237, 237);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    font-size: 30px;
    color: #b95b1d;
}

.defaultSidePanel {
    width: 40%;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.sidePanelItem {
    height: 45px;
    width: 80%;
    margin: 10px auto;
    background-color: rgb(238, 237, 237);
    border-radius: 5px;
}

.cart {
    height: 45px;
    width: 80%;
    margin-top: 30px;
    background-color: rgb(238, 237, 237);
    border-radius: 5px;
}

.details {
    height: 200px;
    width: 80%;
    margin-top: 30px;
    background-color: rgb(238, 237, 237);
    border-radius: 5px;
}


.displayProductContainer {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.displayProductImgContainer {
    width: 50%;
    /* height: 600px; */
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayProductImg {
    width: 100%;
    border-radius: 5px;
}

.sidePanelContainer {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.productsDetails {
    height: 40px;   
    margin: 5px 0;
    font-size: 17px;
    font-weight: 600;
    color: #ad6c4d;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.availablity {
    width: 100%;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    font-weight: 600;
    font-size: 15px;
}

.productDetailsBtnGroup {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDetailsBtn {
    height: 40px;
    width: 150px;
    border: 1px solid #ad6c4d;
    background-color: white;
    color: #ad6c4d;
    border-radius: 5px;
    margin: 0 15px;
    cursor: pointer;
}

.productDetailsBtn:disabled {
    opacity: 0.5;
    cursor: default;
}

#cartBtn {
    background-color: #ad6c4d;
    color: white;
}

.productDetailsBtn:hover {
    background-color: #ad6c4d;
    color: white;
}

.productDetailsContainer {
    width: 100%;
    text-align: left;
}

.productDetailsP {
    line-height: 22px;
    margin-top: 15px;
    font-size: 15px;
}

.productHeader {
    font-size: 17px;
    color: #ad6c4d;
}

.ratingContainer {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.star {
    color: #ad6c4d;
    margin-right: 5px;
}


.quantityContainer {
    display: flex;
    margin: auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quantityBtn {
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    background-color: white;
    cursor: pointer;
}

.watchListContainer {
    width: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.watchListIcon {
    font-size: 15px;
    color: #ad6c4d;
}

.watchListP {
    text-align: left;
    margin: 0 0 0 5px;
    font-size: 15px;
}

.quantityAmount {
    height: 38px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}

.relatedProductsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #ad6c4d;
    letter-spacing: 1px;
    font-family: 'Proza Libre', sans-serif;
}

.relatedProductsMain {
    position: relative;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.relatedProductsHeader {
    text-align: left;
    font-size: 20px;
    color: #ad6c4d;
    letter-spacing: 1px;
}

.relatedItemsItemContainer {
    width: 1080px;
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.relatedProduct {
    min-width: 250px;
    min-height: 260px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.relatedItemsItemContainer::-webkit-scrollbar {
    display: none;
}

.relatedProductLink {
    width: 100%;
    text-decoration: none;
}

.relatedProductImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.relatedProductImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.relatedProductDetailsContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.relatedProductDetailsHeader {
    margin: 5px;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.relatedProductDetailsP {
    margin: 0;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
}

.relatedProductLink:hover .relatedProductImg {
    animation: relatedProducts 0.3s ease-out forwards;
}

.pagintaionContainer {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.angleIconContainer {
    height: 30px;
    width: 30px;
    margin: 0 8px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.angleIcon {
    color: #ad6c4d;
}

.angleIconContainer:hover {
    animation: angleIcon 0.3s ease forwards;
}

.angleIconContainer:disabled {
    opacity: 0.5;
    cursor: default;
}

.angleIconContainer:disabled:hover {
    animation:none;
}

@keyframes angleIcon {
    100% {
        background-color: #ad6b4d3f;
        border: 1px solid #ad6c4d;
    }
}

@keyframes relatedProducts {
    100% {
        transform: scale(1.1);
    }
}

@media (max-width: 1086px) {
    .relatedItemsItemContainer {
        width: 810px;
    }
}

@media (max-width: 990px) {
    .defaultProductContainer {
        flex-flow: column;
    }

    .defaultImgContainer {
        width: 90%;
        height: 400px;
    }

    .productsDetailsContainer {
        margin: 10px auto;
    }

    .displayProductContainer {
        flex-flow: column;
        align-items: center;
    }

    .displayProductImgContainer, .defaultSidePanel {
        width: 95%;
    }

    .sidePanelContainer {
        width: 95%;
        align-items: center;
    }

    .productDetailsBtn {
        width: 250px;
    }

    .pagintaionContainer {
        display: none;
    }

    .ratingContainer, .watchListContainer, .availablity {
        justify-content: center;
    }

    .productDetailsContainer {
        text-align: center;
    }
}

@media (max-width: 850px) {
    .relatedItemsItemContainer {
        width: 95%;
    }

    .relatedProduct {
        min-width: 31%;
    }

    .relatedProductImg {
        height: 200px;
    }
}

@media (max-width: 650px) {
    .relatedProduct {
        min-width: 46%;
    }
}

@media (max-width: 550px) {
    .defaultImgContainer {
        height: 300px;
    }

    .sidePanelItem, .cart, .details {
        width: 100%;
    }
    .displayProductImgContainer {
        width: 100%;
        padding: 0;
        max-height: 450px;
    }

    .displayProductImg {
        width: 100%;
        min-width: unset;
        /* object-fit: cover; */
    }

    .sidePanelContainer {
        width: 100%;
        margin-top: 20px;
        padding: 0;
        align-items: flex-start;
    }

    .ratingContainer, .watchListContainer, .availablity {
        justify-content: flex-start;
    }

    .productDetailsContainer {
        text-align: left;
    }

    .productDetailsBtnGroup {
        flex-flow: column;
    }

    .productDetailsBtn {
        width: 100%;
        margin: 15px auto;
    }
}

@media (max-width: 432px) {

    .relatedProductImg {
        width: 90%;
        height: 125px;
    }
}

@media (max-width:334px) {
    .watchListContainer {
        align-items: flex-start;
    }

    .watchListIcon {
        margin: 5px 0;
    }
}