@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@800&display=swap');


.checkoutMain{
    width: 100%;
    margin: 50px auto;
}

.checkoutContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.paymentContainer {
    width: 60%;
    margin: 0 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.paymentHeader {
    font-size: 18px;
    font-family: 'Proza Libre', sans-serif;
    color: #ad6c4d;
    font-weight: 600;
}

.paymentMethodBtns {
    width: 100%;
    margin: 15px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paymentBtn {
    width: 30%;
    height: 45px;
    border: 1px solid #248bde;
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #248bde;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.active {
    background-color: #248bde;
    color: white;
}

.paymentIcon {
    font-size: 19px;
}

.paymentP {
    font-size: 14px;
    margin: 5px;
}

.paymentBtn:hover {
    background-color: #248bde;
    color: white;
    transform: translateY(-5px);
}

.nameContainer{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.nameHeader {
    font-size: 15px;
    color: #ad6c4d;
    font-family: 'Proza Libre', sans-serif;
}

.nameInput {
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    outline: lightgray;
    border-radius: 2px;
    padding-left: 10px;
    box-sizing: border-box;
}

.otherInputContainer {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otherInput {
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.otherSelect {
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    outline: lightgray;
    border-radius: 2px;
    background-color: white;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 13px;
    appearance: none;
    background: url('../../Assets/dropdown.png');
    background-position: center right 5px;
    background-size: 13px;
    background-repeat: no-repeat;
    padding-right: 10px;
}

.addressContainer {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.addressDetails {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.address {
    margin: 5px 0;
    font-size: 13px;
}

.summaryContainer {
    width: 30%;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.orderDetails {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.orderDetailsItemContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.orderDetailsItem {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderDetailsImgContainer {
    width: 80px;
    height: 80px;
}

.orderDetailsImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.orderDetailsSummaryContainer {
    width: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.orderDetailsH4, .orderDetailsP {
    margin: 5px;
    font-size: 13px;
}

.orderDetailsContainer {
    width: 100%;
    margin: 5px 0;
    text-align: left;
    line-height: 17px;
}

.deliveryInformationContainer {
    position: relative;
    width: 100%;
    margin: 20px auto;
    padding: 20px 0 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.deliveryInformationContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 250px;
    height: 1px;
    background-color: lightgray;
    border-radius: 10px;
}

.totalH3 {
    margin: 5px 0;
    color: #ad6c4d;
    text-align: left;
    font-size: 18px;
    font-weight: 900;
}

.deliveryInformationH4, .deliveryInformationP {
    margin: 5px 0;
    font-size: 13px;
}

.purchaseBtn {
    height: 40px;
    width: 200px;
    margin: 15px auto;
    border: 1px solid #248bde;
    border-radius: 2px;
    background-color: white;
    color: #248bde;
    cursor: pointer;
}

.purchaseBtn:hover {
    background-color: #248bde;
    color: white;
}

@media (max-width: 992px) {
    .checkoutContainer {
        flex-flow: column;
    }

    .paymentContainer {
        width: 100%;
        margin: 10px auto;
    }

    .summaryContainer {
        width: 100%;
        margin: 10px auto;
    }

    .totalH3 {
        margin: 5px 0 10px 0;
    }

    .deliveryInformationContainer::before {
        width: 400px;
    }
}

@media (max-width: 550px) {
    .paymentContainer {
        padding: 10px;
    }

    .paymentBtn {
        width: 25%;
        margin: 5px;
        padding: 10px;
        flex-flow: column;
    }

    .paymentBtn:hover {
        transform: none;
    }

    .paymentP {
        margin: 5px 0;
        font-size: 12px;
    }

    .paymentIcon {
        font-size: 15px;
    }

    .deliveryInformationContainer::before {
        width: 100%;
    }

    .purchaseBtn {
        width: 100%;
        margin: 20px 0;
    }
}

@media (max-width: 432px) {
    .otherInputContainer {
        flex-flow: column;
    }

    .otherInput {
        width: 100%;
    }
}