@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.shoppingCartMain {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.shoppingCartContainer {
    position: relative;
    margin: 5px;
}

.userContainers {
    position: absolute;
    top: 21px;
    left:50%;
    transform: translate(-50%, 0);
    width: 120px;
    max-height: 0;
    margin-top: 0.7px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 100;
}

.userContainer {
    padding: 15px;
    box-sizing: border-box;
}

.shoppingCartLink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(68, 68, 68);
    margin: 10px;
}

.shoppingCartIcon {
    font-size: 25px;
    margin: 0 5px;
    color: #ca9876;
    cursor: pointer;
}

.itemCount {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 22px;
    width: 22px;
    background-color: #da5b4c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.shoppingCartContainer:hover .userContainers {
    max-height: 120px;
    opacity: 1;
}

.shoppingCartContainer:hover .shoppingCartIcon {
    animation: cartItem 0.2s ease-out forwards;
}

.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userProfileP {
    margin: 2px;
    text-transform: capitalize;
    color: #7a7a7a;
}

@keyframes cartItem {
    100% {
        color: #b6652f;
        transform: scale(1.1);
    }
}

.logoutBtn {
    height: 30px;
    width: 100px;
    border: 1px solid #d5b199;
    border-radius: 2px;
    background-color: #d5b199;
    color: white;
    cursor: pointer;
}

.logoutBtn:hover {
    background-color: #cea284;
}