@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.spinnerP {
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}