@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.footerMain {
    width: 100%;
    background-color: #ab948f;
}

.topSection {
    width: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: flex-start;
}

.topSectionContainer {
    width: 250px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.topSectionContainerItem {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.headerP {
    margin: 5px 0 10px 0;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #dfd6c4;
}

.headerH2 {
    font-size: 16px;
    font-family: 'Cormorant Garamond';
    color: #FBDCC4;
}

.topSectionLink {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    color: #ddd1c7;
    text-align: left;
}

.socialLink {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socialLinkIcon {
    font-size: 30px;
    border-radius: 10px;
    margin-right: 20px;
    color: #ddd1c7;
}

.socialLinkIcon:hover, .topSectionLink:hover {
    animation: socialLink 0.3s ease-out forwards;
}

@keyframes socialLink {
    100% {
        color: #f9f0e8;
        transform: scale(1.1);
    }
}

.bottomSection {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomSectionItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #FBDCC4;
}

.paymentImg {
    width: 90px;
    margin: 0 10px;
}

@media (max-width: 829px) {
    .topSection {
        flex-wrap: wrap;
    }   
}

@media (max-width: 829px) {
    .bottomSection {
        flex-flow: column-reverse;
    }
}