@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
