@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.homepageMain {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bannerContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bannerMain {
    position: relative;
    width: 100%;
    /* height: 550px; */
    margin: 20px auto;
}

.bannerBg {
    width: 100%;
    height: 600px;
    filter: brightness(0.7);
    overflow: hidden;
}

.bannerBgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerHeading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    color: white;
    z-index: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bannerH2 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    margin: 5px;
}

.bannerP {
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 22px;
    margin: 5px;
}

.shoppingLink {
    width: 150px;
    height: 40px;
    margin: 30px auto;
    border: 2px solid white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Proza Libre', sans-serif;
}

.shoppingLink:hover {
    background-color: white;
    color: black;
}

.bannerBtn {
    border: none;
    outline: none;
    background-color: transparent;
}

.arrowContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.arrow {
    font-size: 40px;
    color: rgb(255, 255, 255);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
}

.bannerContainer:hover .arrow {
    opacity: 1;
}

.featuredProducts {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.featuredProductLink {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.featuredProductLink:hover .addToCartContainer{
    opacity: 1;
    transform: translate(-50%, -100%);
}

.featuredProductsH2 {
    font-size: 30px;
    margin: 10px;
    letter-spacing: 1px;
    color: #ad6c4d;
    font-family: 'Proza Libre', sans-serif;
}

.featuredProductsContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featuredProductsItem {
    position: relative;
    width: 320px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.productsImgContainer {
    overflow: hidden;
}

.addToCartContainer {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.671);
    transition: all 0.4s ease-out;
    z-index: 200;
}

.shoppingIcon {
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
}

.addToCartContainer:hover .shoppingIcon{
    transform: scale(1.3);
}

.shoppingP {
    margin: 10px 0 0 0;
    color: white;
    font-size: 12px;
}

.productsImg {
    width: 320px;
    height: 320px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}

.productsImg:hover {
    transform: scale(1.1);
}

.productDetails {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-size: 13px;
}


.productsName {
    margin: 10px 0 0 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-out;
    color: #383838;
}

.productsName:hover {
    color: #b95b1d;
}

.productPrice {
    margin: 5px;
    color: #383838;
}

.exclusiveItemContainer {
    position: relative;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.exclusiveItems {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exclusiveItem {
    position: relative;
    width: 48%;
    min-height: 500px;
    padding-bottom: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 30px auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.exclusiveItemImgContainer {
    position: relative;
    height: 320px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusiveItemImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exclusiveItemHeader {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 300px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 12px 5px lightgray;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    color: #ad6c4d;
}

.exclusiveItemDetailsContainer {
    width: 100%;
    min-height: 160px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.exclusiveItemP {
    width: 85%;
    margin: 20px auto;
    font-family: "lato", sans-serif;
    text-align: left;
}

.exclusiveLink {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-decoration: none;
    height: 40px;
    width: 200px;
    background-color: #ad6c4d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 5px 12px 5px #ad6b4d5d;
}

.exclusiveLink:hover {
    animation: exclusiveLink 0.2s ease-out forwards;
}

.exclusiveItemPrice {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Proza Libre', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ad6c4d;
}

@keyframes exclusiveLink {
    100% {
        background-color: white;
        color: #ad6c4d;
        box-shadow: 0px 5px 12px 5px lightgray;
    }
}

@keyframes productsLink {
    100% {
        color: #7E370C;
        /* transform: scale(1.1); */
    }
}

#loader {
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.spinnerPulse {
    font-size: 30px;
    color: #b95b1d;
    margin-bottom: 20px;
}

.loadingName, .loadingLink {
    width: 150px;
    height: 25px;
    background-color: lightgray;
    margin: 5px auto;
}

.defaultExclusiveItems {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultExclusiveItem {
    width: 450px;
    /* height: 250px; */
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.defaultExclusiveItemImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.defaultExclusiveName, .defaultExclusiveLink {
    width: 80%;
    height: 40px;
    background-color: lightgray;
    margin: 10px;
}

.itemCategoryContainer {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.itemCategories {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

.itemCategories::-webkit-scrollbar {
    display: none;
}

.itemCategory {
    text-decoration: none;
    color: rgb(87, 87, 87);
    width: 200px;
    margin: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.itemCategoryImgContainer {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.itemCategoryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemCategory:hover .itemCategoryImg {
    animation: itemCategory 0.7s ease-out forwards;
}

.itemCategoryP {
    font-size: 13px;
}

.itemCategory:hover .itemCategoryP {
    color: #b95b1d;
    font-weight: 600;
}

@keyframes itemCategory {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 1045px) {
    .homepageMain {
        margin: 0;
    }

    .featuredProductsItem {
        width: 250px;
    }

    .productsImg {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 950px) {
    .exclusiveItemImgContainer {
        height: 250px;
    }
}

@media (max-width: 767px) {
    .arrowContainer {
        transform: translate(-50%, 0%);
    }

    .exclusiveItems {
        flex-flow: column;
    }

    .exclusiveItemImgContainer {
        height: auto;
    }
    
    .exclusiveItem {
        width: 80%;
    }
}

@media (max-width: 650px) {
    .bannerH2 {
        font-size: 40px;
    }

    .arrow {
        font-size: 30px;
        opacity: 1;
    }

    .exclusiveItem, .defaultExclusiveItem {
        width: 95%;
    }

    .defaultExclusiveItems {
        flex-flow: column;
    }
}

@media (max-width: 569px) {
    .featuredProductsItem {
        width: 95%;
    }

    .productsImgContainer {
        width: 100%;
    }

    .productsImg {
        width: 100%;
        height: auto;
        max-height: 350px;
    }

    .exclusiveItemHeader, .exclusiveLink {
        width: 70%;
    }
}