.productsContainer {
    width: 100%;
    min-height: 260px;
    box-sizing: border-box;
    display: flex;
    flex-grow: 3;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.productsLink {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.productsLink:hover .addToCartContainer {
    opacity: 1;
    transform: translate(-50%, -65%);
}

.productsImgContainer {
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.productsImgContainer:hover  .productsImg{
    transform: scale(1.2);
}

.productsImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.addToCartContainer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s ease-out;
    z-index: 200;
}

.productsName {
    font-size: 13px;
}

.productsPrice {
    font-size: 13px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .productsImgContainer {
        height: 200px;
    }
}

@media (max-width: 450px) {
    .productsImgContainer {
        height: 150px;
    }
}